*, *::before, *::after{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
	
 
html,body{
	height: 100%;
	background-color: #e1ccdd;
	overflow-x: hidden;
}

.clear{
	clear: both;
}

.header{
	margin-top: -10px;
	margin-right: 10px;
	width: 100%;
	background-color: #cea4c5;
}

.social-media{
	width: 100%;
	height: 100%;
	padding-top:5px;
	padding-bottom: 5px;
}

.links{
	position: relative;
	top: 7px;
	padding: 5px 5px;
	margin-right: 7px;
	margin-left: 5px;
	color: black;
	font-size: 20px;
	
}

.name{
	display: inline-block;
	position: relative;
	left: 30px;
	top: 7px;

}

.name span{
	font-size: 25px;
	font-family: 'Bebas Neue', sans-serif;
	color: black;
	cursor: pointer;

}

.header-center{
	background-color: #e1ccdd;
	height: 100px;
}

.header-center img{
	width: 100px;
	margin-left: 15px;
}

.header-center .links-center{
	position: relative;
	bottom: 70%;
	left: 30%;
	margin-left: -20px ;
}

.links-center a{
	padding: 0 5px;
	margin-right: 10px;
	border-right: 2px solid #cea4c5;
	font-size: 23px;
	font-family: 'Bebas Neue', sans-serif;
	text-decoration: none;
	color: black;
}

.header-bottom{
	width: 100%;
	height: 15px;
	background-color: #cea4c5;

}




.container-banner{
	width: 100%;
	height: 480px;
	background-image: url('../imagens/morango.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	
}

.container-banner-slogan{
	width: 450px;
	height: 200px;
	padding: 40px;
	margin-top: 120px;
	margin-left: 100px;
	float: left;
	background-color: rgba(225, 204, 221, 0.6);
}

.container-banner-slogan h1{
	text-align: center;
	text-decoration: underline;
	padding-bottom: 10px;

}

.container-banner-slogan ul{
	list-style-position:inside;
	
	
}

.container-banner-slogan ul li{
	font-size: 25px;
	text-align: left;
	margin-left: 35px;

	
}



.show{
	text-align: center;
	width: 100%;
	height: 100px;
	background-color: #cea4c5;

}

.show span{
	display: inline-block;
	font-family: 'Bebas Neue', sans-serif;
	font-size: 35px;
	font-weight: 700;
	margin-top:25px;


}

.categories{
	width: 100%;
    max-width: 980px;
    margin: 30px auto;
    padding: 20px 0;

}

.pie{
	width: 25%;
    padding-top: 33.3%;
    float: left;
    position: relative;

}

.pie img{
	position:absolute;
	padding: 0 10px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
	border-radius: 10%;
    background-position: center;
    background-size: contain;


}

.pie button{
	position: absolute;
	left: 40%;
	margin-top: 20px;
	font-family: 'Bebas Neue', sans-serif;
}

.cake{
	width: 25%;
    padding-top: 33.3%;
    float: left;
    position: relative;
}

.cake img{
	position:absolute;
	padding: 0 10px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
	border-radius: 10%;
    background-position: center;
    background-size: contain;


}

.cake button{
	position: absolute;
	left: 35%;
	margin-top: 20px;
	font-family: 'Bebas Neue', sans-serif;

	
}

.savory{
	width: 25%;
    padding-top: 33.3%;
    float: left;
    position: relative;
}

.savory img{
	position:absolute;
	padding: 0 10px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
	border-radius: 10%;
    background-position: center;
    background-size: contain;

}

.savory button{
	position: absolute;
	left: 35%;
	font-family: 'Bebas Neue', sans-serif;
}

.candy{
	width: 25%;
    padding-top: 33.3%;
    float: left;
    position: relative;
}

.candy img{
	position:absolute;
	padding: 0 10px;
    left: 0;
    top: 0;
	right: 0;
    width: 100%;
    height: 100%;
	border-radius: 10%;
    background-position: center;
    background-size: contain;
}

.candy button{
	position: absolute;
	left: 35%;
	margin-top: ;
	font-family: 'Bebas Neue', sans-serif;
}


.show-mission{
	text-align: center;
	width: 100%;
	height: 70px;
	background-color: #ba4aa9;

}

.show-mission span{
	display: inline-block;
	font-family: 'Bebas Neue', sans-serif;
	font-size: 25px;
	font-weight: normal;
	margin-top:17px;


}


.middle{
	width: 100%;
	background-color:#ffc8f2;
	text-align: center;

}


.mission-categories{
	float: left;
	width: 33%;
	margin-right: 2px;
	margin-top: 15px;
	padding: 30px;
	border-radius: 8%;
	background-color: #cea4c5;

}

.mission-categories:last-child{
	margin-right: 0;
}

.mission-categories p{
	padding:13px 15px;
	text-align: justify;
	font-family: 'Bebas Neue', sans-serif;
}

.mission-categories h3{
	text-decoration: underline;
	padding: 13px 15px;
	font-family: 'Bebas Neue';
	font-weight: normal;
}


@media screen and (max-width: 1024px){
	.container-banner{
		width: 100%;
		padding: 40px 0;
		height: auto;
		text-align: center;
	}

	.container-banner-slogan{
		width: 60%;
		height: auto;
		padding: 40px;
		margin-top: 30px;
		margin-left: 30px;
		float: none;
		display: inline-block;
	}

	.container-banner-slogan h1{
		text-align: left;
		margin-left: 35px;
		
	}

	.container-banner-slogan ul li{
		font-size: 25px;
		text-align: left;
	}


}

@media screen and (max-width: 768px){
	.name{
		left: 25%;

	}

	.container-banner-slogan{
		width: 90%;
		height: auto;
		padding: 40px;
		margin-top: 30px;
		margin-left: 30px;
		float: left;
		
	}
	.mission-categories{
		display: inline-block;
		float: none;
		width: 100%;
		padding: 30px 0;
	}
}





